.displaysContainer {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
}

.scrollbarContainer {
    display: flex;
    position: fixed;
    right: 30px;
    top: 0.6vh;
    bottom: 0.6vh;
    width: 170px;
    justify-content: center;
    flex-direction: column;
}

.scrollbarButton {
    margin-top: 0.6vh;
    margin-bottom: 0.6vh;
    height: 6.5vh;
    cursor: pointer;
}